#Core Data Science & ML Libraries
pandas
scikit-learn
numpy
matplotlib
seaborn
plotly

#Gradient Boosting Models
lightgbm
xgboost
catboost

#Hyperparameter Tuning
optuna

#Data Input/Output
openpyxl

#Web Application & Simulation
streamlit
holidays

#Other dependencies (from pipreqs scan)
joblib==1.4.2

#QML Libraries
pennylane
torch
pennylane-lightning
